/* Background Colors */

.distill {
    background: url(../img/wood.jpg) blue;
}

.card {
    background: grey;
}

.laws {
    background: orangered;
}

.facts {
    background: grey;
}

.brands {
    background: black;
}

.angels_envy {
    background: tan;
}

.artisan_distillery {
    background: green;
}

.barrel_house {
    background: saddlebrown;
}

.barton {
    background: darkred;
}

.bluegrass {
    background: darkblue;
}

.boone_county {
    background: gold;
}

.buffalo_trace {
    background: seagreen;
}

.bulleit {
    background: orangered;
}

.four_roses {
    background: red;
}

.hartfield {
    background: plum;
}

.heaven_hill {
    background: tan;
}

.jeptha_creed {
    background: maroon;
}

.jim_beam {
    background: goldenrod;
}

.peerless {
    background: darkgreen;
}

.limestone_branch {
    background: saddlebrown;
}

.makers_mark {
    background: red;
}

.mb_roland {
    background: navy;
}

.michters {
    background: sienna;
}

.new_riff {
    background: black;
}

.old_forester {
    background: lightskyblue;
}

.old_pogue {
    background: tan;
}

.town_branch {
    background: teal;
}

.western_spirits {
    background: red;
}

.wild_turkey {
    background: forestgreen;
}

.wilderness_trail {
    background: dodgerblue;
}

.willett {
    background: purple;
}

.woodford_reserve {
    background: sienna;
}

/* Padding Gutter Fixes */

body {
    padding-top: 30px;
}

.map {
    background: black;
    margin-top: -2rem;
    margin-bottom: -1rem;
}

.col-sm-6 {
    padding: 4rem;
}

/* Make Logos Circle */

.logo {
    border-radius: 25%;
}

/* Media Queries */

@media (max-width: 768px) {
    h1 {
        padding-top: 25px;
        font-size: 1.5em!important;
    }
}