.row {
    background: url(../img/wood.jpg) blue;
}

.card {
    background: grey;
}

body {
    padding-top: 40px;
}

.jumbotron {
    background: orangered;
}

@media (max-width: 768px) {
    h1 {
        padding-top: 25px;
        font-size: 1.25em!important;
    }
}